.todoItem {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    .todoItem {
      &_leftWrap {
        background-color: #c3e8e2;
      }
      &_option {
        display: block;
      }
    }
  }
  &:last-child {
    margin: 0;
  }
  &_leftWrap {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
  }
  &_checkbox {
    width: 1rem;
    height: 1rem;
    border: 1px solid #bdbdbd;
    display: inline-block;
    margin: 0 1rem 0 0;
    border-radius: 2px;
  }
  &_text {
    border-bottom: 1px solid #d5e3e0;
    display: block;
    width: calc(100% - 2rem);
    padding: 1rem 0;
  }
  &_option {
    width: 1rem;
    display: none;
    margin: 0 0 0 1rem;
    &:hover {
      cursor: pointer;
    }
    &.opened {
      display: block;
      .todoItem_optionBox {
        display: block;
      }
    }
    &Box {
      position: absolute;
      background-color: #fff;
      border-radius: 5px;
      top: 2rem;
      right: -2rem;
      display: none;
      z-index: 1000;
      overflow: hidden;
    }
    &Item {
      padding: 0.5rem 1rem;
      &:hover {
        background-color: #c3e8e2;
      }
    }
  }
}
